.simpleStatistics_value {
	float: right;
}

#simpleStatistics_item {
	padding: 8px 0;
	margin-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.simpleStatistics_views {
	list-style:none;
	transition: background-color 0.4s;
}

.simpleStatistics_views::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
    content: '\f06e';
}

.simpleStatistics_downloads {
	list-style:none;
	transition: background-color 0.4s;
}


.simpleStatistics_downloads::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
    content: '\f019';
}

.simpleStatistics_media {
	list-style:none;
	transition: background-color 0.4s;
}

.simpleStatistics_media::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
    content: "\f04b";
}

.simpleStatistics_supplements {
	list-style:none;
	transition: background-color 0.4s;
}

.simpleStatistics_supplements::before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    transform: translate(0, 0);
    content: "\f0c6";
}

.simpleStatistics_label {
	padding-left: 3px;
}

.simpleStatistics_infotext {
	font-size: 13px;
	color: rgba(0,0,0,0.54);
	font-weight: 400;
}

.simpleStatistics_link {
	font-size: 13px;
}
